langchain
langchain-openai
Pillow
PyMuPDF
python-dotenv
pytesseract
requests
langchain-text-splitters
datetime
langchain-community
openai==0.28
beautifulsoup4
faiss-cpu
langchain_chroma
langchain-ollama
langchain-groq
pypdf
bs4
langchain-google-genai
crewai
serpapi

